.navigation {
  background: linear-gradient(
    to bottom,
    var(--primary-dark),
    var(--primary-light)
  );
  padding: 15px 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  position: relative; /* Make the navigation sticky */
  top: 0; /* Stick to the top of the viewport */
  z-index: 1000;
}

.nav-container {
  display: flex;
  justify-content: space-between; /* Ensures the items are spread out across the navbar */
  align-items: center; /* Align items vertically in the center */
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

.brand {
  display: flex;
  align-items: center;
}

.brand .logo {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.brand span {
  font-size: 1.8em;
  color: #ffffff;
}

nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-list li {
  margin: 0 15px;
}

.nav-list li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.nav-list li a:hover {
  color: #f0f0f0;
}

.nav-buttons {
  display: flex;
  align-items: center; /* Center buttons vertically */
  margin-left: 10px;
}

.icon-button {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.icon-button:hover {
  transform: scale(1.1);
}

.home-section {
  height: 100vh;
  display: flex;
  align-items: center;
  color: #000;
  padding: 0 20px; /* Ensure some padding on the sides */
  transition: margin-top 0.3s ease; /* Smooth transition for margin change */
}

.home-section h1 span {
  color: #000;
}

.home-section p {
  font-size: 1rem;
}

.home-section .btn {
  margin-top: 10px;
  background: var(--primary-dark);
  color: #fff;
  transition: transform 0.5s;
  position: relative;
  top: 0;
  right: 8px;
}

.home-section .btn:hover {
  background: var(--primary-light); /* Change background color */
  color: #000; /* Change text color */
  transform: scale(1.05); /* Slightly scale up the button */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add shadow effect */
}

.img-fluid {
  max-width: 75%;
  height: auto;
  border-radius: 10px; /* Optional: rounded corners for the image */
  margin-bottom: 200px;
  margin-top: 100px;
  margin-left: 100px;
}

.typewriter-container {
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-dark); /* Adjust color as needed */
}

/* Mobile-specific styles */
@media only screen and (max-width: 798px) {
  .nav-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-list {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    padding: 0;
    z-index: 1000;
  }

  .nav-list.open {
    display: flex;
    transform: translate(-15px);
    position: absolute;
    top: 60px;
  }

  .nav-list li {
    text-align: center;
    width: 100%;
    background: linear-gradient(
      to top,
      var(--primary-dark),
      var(--primary-light)
    );
  }

  .nav-list li a {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #ffff;
  }

  .nav-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    height: 70px;
    width: 70px;
    cursor: pointer;
  }

  .hamburger {
    content: "";
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    position: absolute;
    transition: all 0.3s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .hamburger:before {
    content: "";
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    position: absolute;
    top: -8px;
    left: 0;
    transition: all 0.3s;
  }

  .hamburger:after {
    content: "";
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    position: absolute;
    top: 8px;
    left: 0;
    transition: all 0.3s;
  }

  .hamburger.active {
    background-color: transparent;
  }

  .hamburger.active:before {
    transform: rotate(45deg);
    top: 0;
  }

  .hamburger.active:after {
    transform: rotate(-45deg);
    top: 0;
  }

  .nav-list {
    padding-top: 15px;
  }

  /* Add sliding effect */
  .home-section {
    height: 100vh;
    display: flex;
    align-items: center;
    color: #000;
    padding: 0 20px; /* Ensure some padding on the sides */
    transition: transform 0.5s ease-in-out; /* Add transition */
    transform: translateY(0); /* Initial position */
  }

  .home-section.slide-down {
    transform: translateY(300px); /* Move down when visible */
  }

  /* Optional: Styling for heading and paragraph */
  .home-section h1 span {
    color: #000;
  }

  .home-section p {
    font-size: 1.2rem;
  }

  .home-section .btn {
    margin-top: 10px;
    background: var(--primary-dark);
    color: #fff;
  }

  .img-fluid {
    max-width: 80%;
    height: auto;
    border-radius: 10px; /* Optional: rounded corners for the image */
    position: relative;
    right: 70px;
  }

  .typewriter-container {
    font-size: 2rem;
    font-weight: bold;
    color: var(--primary-dark); /* Adjust color as needed */
  }

  /* Mobile-specific styles */

  .home-section {
    flex-direction: column; /* Stack items vertically */
    padding: 30px 0;
  }

  .home-section h1 {
    font-size: 1.75rem;
  }

  .home-section h2 {
    font-size: 1.25rem;
  }

  .home-section p {
    font-size: 0.875rem;
  }

  .home-section .btn {
    padding: 6px 12px;
  }

  .row {
    flex-direction: column;
  }

  .col-md-6 {
    margin-bottom: 20px;
  }
}
