.portfolio-section {
  padding: 20px;
}

.main {
  text-align: center;
}

#myBtnContainer {
  margin-bottom: 20px;
}

.btn {
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  background-color: var(
    --primary-dark
  ); /* Replace with your primary dark color */
  color: #fff;
  border: none;
  border-radius: 5px; /* Optional: for rounded corners */
  transition: background-color 0.3s ease; /* Smooth color transition */
}

.btn.active {
  background-color: var(--primary-dark);
  color: #fff;
}

.btn:hover {
  background: var(--primary-light); /* Change background color */
  transform: scale(1.05); /* Slightly scale up the button */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add shadow effect */
  color: #000;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center-align the cards */
}

.column {
  flex: 1 0 30%; /* Three cards per row (30% width for each card) */
  margin: 10px;
  max-width: 27%; /* Ensures three cards per row */
}

.content {
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 10px; /* Add rounded corners */
  text-align: center; /* Center-align content */
}

.content img {
  width: 50%;
  object-fit: cover;
}

.content h4 {
  margin-top: 20px;
  font-size: 16px;
}

.content p {
  font-size: 14px;
  margin-top: 10px;
}

/* Hover effects */
.column .content {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-top: 20px;
}

.column .content:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background-color: var(--primary-light);
}

.column .content:hover h4 {
  color: #fff;
}

.column .content:hover p {
  color: #fff;
}

.hide {
  display: none;
}

/* Media query for smaller screens */
@media only screen and (max-width: 798px) {
  .column {
    flex: 1 0 45%;
    max-width: 45%; /* Allows two cards per row */
  }

  .content img {
    width: 200px;
  }

  .main h2{
    margin-right: 180px;
  }


}

/* Media query for very small screens (mobile) */
@media only screen and (max-width: 500px) {
  .column {
    flex: 1 0 100%; /* One card per row */
    max-width: 100%;
  }
}
